[Unit]
Description=kubectl port-forward: argocd-server (argocd) -> LAN:9080
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=svc_bob
ExecStart=/usr/local/bin/kubectl -n argocd port-forward --address 192.168.1.106 svc/argocd-server 9080:443
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
