[Unit]
Description=kubectl port-forward: minio-console (velero) -> LAN:9084
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=svc_bob
ExecStart=/usr/local/bin/kubectl -n velero port-forward --address 192.168.1.106 svc/minio-console 9084:9001
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
